build.directory=target
#if($generateJavadoc)
javadoc.dir=target/apidocs
javadoc.generate=true
#end
#if(!$runTests)
maven.test.skip=true
#end
classpath.compile=\
#foreach ($jar in $compileJars)
  /usr/share/java/${jar}.jar:\
#end
#set( $D = '$' )
#foreach ($module in $collectedProjects)
#if($module.packaging != "pom")
  ${D}{basedir}/${module.baseDir}target/${module.artifactId}-${D}{version}.jar:\
#end
#end
  target/classes

classpath.test=\
#foreach ($jar in $testJars)
  /usr/share/java/${jar}.jar:\
#end
  target/classes
