#set ($dollar = "$")
#set ($space = " ")
#macro(printDependencies $dependencies)
#set ($lineLength=0)
#foreach ($dependency in $dependencies)
#if($lineLength==0)${space}#end${dependency}#if($velocityCount<$dependencies.size()), #elseif ($velocityHasNext)
$space
#end
#set ($lineLength = $lineLength + $dependency.length() + 2)
#if ($lineLength > 70 && $velocityHasNext)
$space
#set ($lineLength=0)
#end
#end
#end
Source: ${package}
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: ${packager} <${packagerEmail}>
Build-Depends: debhelper (>= 7), default-jdk, maven-repo-helper (>= 1.5)#if ($project.packaging != "pom" || $project.modules.size() > 0), ant-optional, maven-ant-helper (>= 7.1)#end$space
#if(!$compileDependencies.isEmpty())
Build-Depends-Indep:#printDependencies($compileDependencies)$space
#end
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.debian.org/svn/pkg-java/trunk/${package}
Vcs-Browser: http://svn.debian.org/wsvn/pkg-java/trunk/${package}
Homepage:#if(${project.Url}) ${project.Url} #else TODO #end


Package: ${binPackage}
Architecture: all
## libraries should not depend on runtime - default-jre-headless | java2-runtime-headless,
Depends: ${dollar}{misc:Depends},#printDependencies($runtimeDependencies)$space
#if(!$optionalDependencies.isEmpty())
Recommends: #printDependencies($optionalDependencies)$space
#end
#if ($generateJavadoc)
Suggests: ${binPackage}-doc
#end
Description: ${project.Name}
#if ($description.isEmpty()) TODO - fill the description
#else
#foreach ($line in $description)
#if ($line == "")
 .
#else
 $line
#end
#end
#end

#if ($generateJavadoc)
Package: ${binPackage}-doc
Architecture: all
Section: doc
Depends: ${dollar}{misc:Depends}, #printDependencies($javadocDependencies)$space
#if(!$javadocOptionalDependencies.isEmpty())
Recommends: #printDependencies($javadocOptionalDependencies)$space
#end
Suggests: ${binPackage}
Description: Documentation for ${project.Name}
#if ($description.isEmpty()) TODO - fill the description
#else
#foreach ($line in $description)
#if ($line == "")
 .
#else
 $line
#end
#end
#end
 .
 This package contains the API documentation of ${binPackage}.
#end
