#set ($dollar = "$")
#set ($space = " ")
#macro(printDependencies $dependencies)
#set ($lineLength=0)
#foreach ($dependency in $dependencies)
#if($lineLength==0)${space}#end${dependency}#if($velocityCount<$dependencies.size()), #elseif ($velocityHasNext)
$space
#end
#set ($lineLength = $lineLength + $dependency.length() + 2)
#if ($lineLength > 70 && $velocityHasNext)
$space
#set ($lineLength=0)
#end
#end
#end
Source: ${package}
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: ${packager} <${packagerEmail}>
Build-Depends: debhelper (>= 9), cdbs, default-jdk, maven-debian-helper (>= 1.5)
#if(!$buildDependencies.isEmpty())
Build-Depends-Indep:#printDependencies($buildDependencies)$space
#end
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-java/${package}.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/${package}.git
Homepage:#if(${project.Url}) ${project.Url}#else TODO #end


Package: ${binPackage}
Architecture: all
## libraries should not depend on runtime - default-jre-headless | java2-runtime-headless,
Depends: ${dollar}{misc:Depends}, ${dollar}{maven:Depends}
Suggests: ${dollar}{maven:OptionalDepends}#if ($generateJavadoc), ${binPackage}-doc#end

Description: ${project.Name}
#if ($description.isEmpty()) TODO - fill the description
#else
#foreach ($line in $description)
#if ($line == "")
 .
#else
 $line
#end
#end
#end

#if ($generateJavadoc)
Package: ${binPackage}-doc
Architecture: all
Section: doc
Depends: ${dollar}{misc:Depends}, ${dollar}{maven:DocDepends}
Recommends: ${dollar}{maven:DocOptionalDepends}
Suggests: ${binPackage}
Description: Documentation for ${project.Name}
#if ($description.isEmpty()) TODO - fill the description
#else
#foreach ($line in $description)
#if ($line == "")
 .
#else
 $line
#end
#end
#end
 .
 This package contains the API documentation of ${binPackage}.
#end
