#set ($space = " ")
Format: http://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: ${project.Name}
#if ($project.CiManagement && $project.CiManagement.Url)
Upstream-Contact: ${project.CiManagement.Url}
#end
Source: ${project.Url}

Files: *
Copyright: ${copyrightYear}, ${copyrightOwner}
License: #foreach($license in $licenses)${license}#if($velocityHasNext) or #end#end


Files: debian/*
Copyright: ${currentYear}, ${packager} <${packagerEmail}>
License: ${packagerLicense}
#set ($x = $licenses.add("${packagerLicense}"))

#foreach ($license in $licenses)
License: $license
#set ($knownLicenses = ["Apache-2.0", "GFDL-1.2", "GPL-2", "LGPL-2.1", "Artistic", "GPL-3", "LGPL-2", "LGPL-3"])
#if ($knownLicenses.contains($license))
  On Debian GNU/Linux system you can find the complete text of the
  $license license in '/usr/share/common-licenses/$license'
#else
  TODO: include the full text of the license here
#end

#end

