#set ($space = " ")
Format-Specification: http://dep.debian.net/deps/dep5/
Name: ${project.Name}
#set ($maintainerHeader = "Maintainer: ")
#foreach ($developer in $project.Developers)
${maintainerHeader} ${developer.Name} #if (${developer.Email})<${developer.Email}> as developer
#set ($maintainerHeader = "           ")
#else $space
#end
#end
#foreach ($contributor in $project.Contributors)
${maintainerHeader} ${contributor.Name} #if (${contributor.Email})<${contributor.Email}> as contributor
#set ($maintainerHeader = "           ")
#else $space
#end
#end
Source: ${project.Url}

Files: *
Copyright: ${copyrightYear}, ${copyrightOwner}
License: #foreach($license in $licenses)${license}#if($velocityHasNext) or #end#end

Files: debian/*
Copyright: ${currentYear}, ${packager} <${packagerEmail}>
License: ${packagerLicense}
#set ($x = $licenses.add("${packagerLicense}"))

#foreach ($license in $licenses)
License: $license
#if ($knownLicenses.contains($license))
  On Debian GNU/Linux system you can find the complete text of the
  $license license in '/usr/share/common-licenses/$license'
#else
  TODO: include the full license text here
#end

#end

