#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk
#set ($space=' ')
#macro(printJars $jars)
#set ($lineLength=0)
#foreach ($jar in $jars)
#if($lineLength==0)${space}#end${jar}#if($velocityHasNext)${space}#end
#set ($lineLength = $lineLength + $jar.length() + 2)
#if ($lineLength > 70)
${space}\
#set ($lineLength=0)
#end
#end
#end

JAVA_HOME            := /usr/lib/jvm/default-java
DEB_JARS             := ant-nodeps #if (!$buildJars.isEmpty()) #printJars($buildJars)#end $space
DEB_ANT_BUILDFILE    := /usr/share/maven-ant-helper/maven-build.xml
DEB_ANT_ARGS         := -Dbasedir=$(realpath .) -Dpackage=$(PACKAGE)
#if ($generateJavadoc)
DEB_ANT_BUILD_TARGET := package javadoc
API_DOCS             := target/docs/api
#end

get-orig-source:
	uscan --download-version $(DEB_UPSTREAM_VERSION) --force-download --rename

binary-post-install/$binPackage::
	mh_install -p$binPackage

#if ($generateJavadoc)
binary-post-install/$binPackage-doc::
	dh_install -p$binPackage-doc $(API_DOCS) usr/share/doc/$binPackage

#end
clean::
	-mh_clean

