#!/usr/bin/make -f

DEB_SOURCE_PACKAGE   := $(shell dpkg-parsechangelog | grep '^Source:' | cut -f 2 -d ' ')
DEB_UPSTREAM_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ' | cut -d: -f2- | sed 's/-[^-]*$$//')

#if ($project.packaging != "pom" || $project.modules.size() > 0)
export JAVA_HOME=/usr/lib/jvm/default-java
export CLASSPATH=$(shell for jar in `cat debian/build-classpath`; do if [ -f "$$jar" ]; then echo -n "$${jar}:"; fi; done)
#if ($project.packaging == "pom" && $project.modules.size() > 0)
export ANT_ARGS=-Dbasedir=$(realpath .) -Dpackage=$(DEB_SOURCE_PACKAGE) -f debian/build.xml
#else
export ANT_ARGS=-Dbasedir=$(realpath .) -Dpackage=$(DEB_SOURCE_PACKAGE) -Dversion=$(DEB_UPSTREAM_VERSION) -f /usr/share/maven-ant-helper/maven-build.xml
#end

#end
%:
#if ($project.packaging == "pom" && $project.modules.size() == 0)
	dh $@ --with maven_repo_helper
#else
	dh $@ --buildsystem=ant --with maven_repo_helper
#end

get-orig-source:
	uscan --download-version $(DEB_UPSTREAM_VERSION) --force-download --rename
