Source: maven-debian-helper
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Torsten Werner <twerner@debian.org>, Ludovic Claude <ludovic.claude@laposte.net>,
 Damien Raude-Morvan <drazzib@debian.org>, Thomas Koch <thomas@koch.ro>, Emmanuel Bourg <ebourg@apache.org>
Build-Depends: cdbs, debhelper (>= 7), default-jdk, maven-ant-helper (>= 7.0), ant-optional, help2man
Build-Depends-Indep: maven-repo-helper (>= 1.8.3), junit4, libmaven-plugin-tools-java,
 libplexus-velocity-java, libcommons-io-java
Standards-Version: 3.9.4
Vcs-Git: git://anonscm.debian.org/pkg-java/maven-debian-helper.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-java/maven-debian-helper.git
Homepage: http://wiki.debian.org/Java/MavenBuilder

Package: maven-debian-helper
Architecture: all
Depends: ${misc:Depends}, default-jdk, maven-repo-helper (>= 1.8.3), maven2 (>= 2.2.1-5),
 libmaven-clean-plugin-java, libmaven-resources-plugin-java,
 libmaven-compiler-plugin-java, libmaven-jar-plugin-java, libmaven-site-plugin-java,
 libsurefire-java, velocity, libplexus-velocity-java
Suggests: libmaven-javadoc-plugin-java, apt-file, devscripts, subversion
Description: Helper tools for building Debian packages with Maven
 Maven is a software project management and comprehension tool. Based on the
 concept of a project object model (POM), Maven can manage a project's build,
 reporting and documentation from a central piece of information.
 .
 Maven's primary goal is to allow a developer to comprehend the complete
 state of a development effort in the shortest period of time. In order to
 attain this goal there are several areas of concern that Maven attempts
 to deal with:
 .
    * Making the build process easy
    * Providing a uniform build system
    * Providing quality project information
    * Providing guidelines for best practices development
    * Allowing transparent migration to new features
 .
 This package makes it possible to use Maven for building Debian packages.
