#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/maven.mk

VERSION   := $(DEB_UPSTREAM_VERSION)
JAVA_HOME := /usr/lib/jvm/java-6-openjdk

DEST := $(DEB_MAVEN_REPO)/org/debian/maven/

binary-post-install/$(DEB_SOURCE_PACKAGE)::
	# maven-debian
	dh_installdirs $(DEST)/maven-debian/$(VERSION)
	install -m644 pom.xml $(DEB_DESTDIR)$(DEST)/maven-debian/$(VERSION)/maven-debian-$(VERSION).pom
	# maven-debian-helper
	dh_install maven-debian-helper/target/*.jar $(DEST)/maven-debian-helper/$(VERSION)
	install -m644 pom.xml $(DEB_DESTDIR)$(DEST)/maven-debian-helper/$(VERSION)/maven-debian-helper-$(VERSION).pom
	dh_link $(DEST)/maven-debian-helper/$(VERSION)/maven-debian-helper-$(VERSION).jar /usr/share/maven2/debian/maven-debian-helper.jar
	# maven-debian-helper
	dh_install maven-debian-plugin/target/*.jar $(DEST)/maven-debian-plugin/$(VERSION)
	install -m644 pom.xml $(DEB_DESTDIR)$(DEST)/maven-debian-plugin/$(VERSION)/maven-debian-plugin-$(VERSION).pom
